<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--==================================SERVICE================================================================-->

    <!-- 定义User业务逻辑模板-->
    <bean id="userManager" class="com.zzss.service.impl.UserManagerImpl"
          p:userDao-ref="userDao"/>

    <!-- 首页服务层-->
    <bean id="homeManager" class="com.zzss.service.impl.HomeManagerImpl"
          p:homeDao-ref="homeDao"/>

    <!-- 添加日志的服务层-->
    <bean id="journalManager" class="com.zzss.service.impl.JournalManagerImpl"
          p:journalDao-ref="journalDao"/>

    <!-- 添加日记的服务层-->
    <bean id="diaryManager" class="com.zzss.service.impl.DiaryManagerImpl"
          p:diaryDao-ref="diaryDao"/>

    <!-- 添加学无止境服务层-->
    <bean id="learnManager" class="com.zzss.service.impl.LearnManagerImpl"
          p:learnDao-ref="learnDao"/>

    <!-- 添加有点意思服务层-->
    <bean id="chatManager" class="com.zzss.service.impl.ChatManagerImpl"
          p:chatDao-ref="chatDao"/>

    <!-- 添加关于我服务层-->
    <bean id="aboutMiManager" class="com.zzss.service.impl.AboutMiManagerImpl"
          p:aboutMiDao-ref="aboutMiDao"/>


    <!--==================================ACTION================================================================-->
    <!-- 用户登录和注册的Action-->
    <bean id="userAction" class="com.zzss.action.UserAction"
          p:userManager-ref="userManager" scope="prototype"/>

    <!-- 后台管理用户Action-->
    <bean id="userManagerAction" class="com.zzss.action.UserManagerAction"
          p:userManager-ref="userManager" scope="prototype"/>

    <!-- 首页Action-->
    <bean id="homeAction" class="com.zzss.action.HomeAction"
          p:homeManager-ref="homeManager" scope="prototype"/>

    <!-- 日志管理Action-->
    <bean id="journalAction" class="com.zzss.action.JournalAction"
          p:journalManager-ref="journalManager" scope="prototype"/>

    <!-- 添加日记的Action-->
    <bean id="diaryAction" class="com.zzss.action.DiaryAction"
          p:diaryManager-ref="diaryManager" scope="prototype"/>

    <!-- 添加学无止境Action -->
    <bean id="learnAction" class="com.zzss.action.LearnAction"
          p:learnManager-ref="learnManager" scope="prototype"/>

    <!-- 添加有点意思Action-->
    <bean id="chatAcion" class="com.zzss.action.ChatAction"
          p:chatManager-ref="chatManager" scope="prototype"/>

    <!-- 添加关于我Action-->
    <bean id="aboutMiAcion" class="com.zzss.action.AboutMiAction"
          p:aboutMiManager-ref="aboutMiManager" scope="prototype"/>

    <!-- 添加留言Action-->
    <bean id="knowledgeAction" class="com.zzss.action.KnowledgeAction"
          scope="prototype"/>


    <!--==================================事务管理===============================================-->
    <!-- 配置Hibernate的局部事务管理器，使用HibernateTransactionManager类
            并注入SessionFactory的引用 -->
    <bean id="transactionManager" class=
            "org.springframework.orm.hibernate4.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>
    <!-- 配置事务增强处理Bean,指定事务管理器 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!-- 用于配置详细的事务语义 -->
        <tx:attributes>
            <!-- 所有以'get'开头的方法是read-only的 -->
            <tx:method name="get*" read-only="true"/>
            <!-- 其他方法使用默认的事务设置 -->
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>

        <!-- =========================切入点======================================-->
        <!-- 用户切入点 -->
        <aop:pointcut id="userPointcut"
                      expression="bean(userManager)"/>

        <!-- 首页切入点-->
        <aop:pointcut id="homePointcut"
                      expression="bean(homeManager)"/>

        <!-- 日志切入点-->
        <aop:pointcut id="journalPointcut"
                      expression="bean(journalManager)"/>
        <!-- 日记切入点-->
        <aop:pointcut id="diaryPointcut"
                      expression="bean(diaryManager)"/>
        <!-- 学无止境切入点-->
        <aop:pointcut id="learnPointcut"
                      expression="bean(learnManager)"/>
        <!-- 有点意思切入点-->
        <aop:pointcut id="chatPointcut"
                      expression="bean(chatManager)"/>

        <!-- 关于我切入点-->
        <aop:pointcut id="aboutMiPointcut"
                      expression="bean(aboutMiManager)"/>

        <!-- =========================增强处理======================================-->
        <!-- 增强用户处理 -->
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="userPointcut"/>

        <!-- 增强首页处理 -->
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="homePointcut"/>

        <!-- 增强日志处理 -->
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="journalPointcut"/>
        <!-- 增强日记处理 -->
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="diaryPointcut"/>
        <!-- 增强学无止境处理 -->
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="learnPointcut"/>
        <!-- 增强有点意思处理 -->
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="chatPointcut"/>
        <!-- 增强关于我处理 -->
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="aboutMiPointcut"/>
    </aop:config>


</beans>